.input:focus{
    display: block;
    padding: 1%;
    border: 1px solid hsl(240, 58%, 35%);
}

.large { 
    height: 40px;
    font-size: 1rem; 
}
.medium { 
    height: 30px;
    font-size: 0.8rem;
}
.small { 
    height: 20px;
    font-size: 0.6rem; 
}
